body {
    margin:auto;
    max-width: 1200px; /* Adjust as needed */
    width: 90%; /* Or use width: 100%; for full width */
}
.test{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-weight: 800;
    font-size: 50px;
    
}

.banner{
    background-image: url('resources/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;

}

.off ,.deals>p{
    color: orangered;
    text-align: center;
}

.deals>h2{
    text-align: center;
}
.newYrPic{
    display: flex;
    justify-content: center;
}

/* midNight part css */

.midNight{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url('resources/Vectorrr.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;

}

.location{
    margin: 50px 0px 50px 0px;
    text-align: center;
    background-color: pink;
    color: white;
    padding: 50px;
}


.comingSoon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    padding: 10px;
}
.comingSoon div{
    width: 30%;
}
.circle{
    border: 5px solid red; 
    border-radius: 50%;
}

.images{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.images img{
    width:30%;
    /* margin:10; */
    height: 30%;
}

.subscribe{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:pink;

    padding: 50px 50px;
}

.address {
    color:white;

    display: flex;
    justify-content: space-around;
}
.footer{
    background-color: rgb(64, 11, 114);

    margin-bottom: 20px;
}

.add{
    display: flex;
    align-items: center;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 30%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

/* holiday 50% sale part */

.holiday{
    text-align: center;
}



.rec1 {
    width: 100%; 
}

.rec1 img {
    float: right;
}

.rec1 {
    display: flex;
    justify-content: flex-end; 
    position: relative;
}
.discount{
    position: static;
}
.rec2{
    width: 20%;
}
.holy{
    color: orangered;
}